:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1f7ef2;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.main{
  margin:auto;
  flex-direction: column;
  max-width: 750px;
  padding-left: 2rem;
  padding-right: 2rem;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1f7ef2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #747bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
form{
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form button{
  margin-top: 10px;
  align-self: center;
  max-width: 80px;
  padding: 8px;
}
textarea{
  font-family: Inter, system-ui, Avenir, Ariel, sans-serif;
  font-size: 1em;
  padding: 15px;
  height: 100px;
  background-color: #4448;
  resize: none;
}

h1{
  margin-bottom: 20px;
  margin-top: 2em;
  font-weight: 400;
}
h3{
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: 400;
}
.response{
  background-color: #4448;
  border: 1px solid grey;
  padding: 15px;
  margin: auto;
  margin-top: 2em;
}
p{
  text-align: left;
  margin: 0;
}
.loading-txt{
  text-align: center;
  margin-bottom: 2em;
}

ul{
  padding-left: 0;
  list-style-type: none;
}
.header{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: #1f7ef2;
  width:100%;
  max-height: 40px;
}
.header a{
  color: white;
}

.header a:hover{
  color: #175cb0;
}
.header ul{
  padding-right: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.finish-reason{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content:center;
}

.usage-stats h4{
  margin-bottom: 0px;
}

.new-convo-btn{
  margin-top: 10px;
  padding: 10px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  button:hover {
    background-color: #747bff;
  }

  button {
    background-color:  #1f7ef2;
  }
}
